<!-- fancy html stuff goes here -->
<html>
    <body bgcolor="black">
        <center>
            <div id="container">
                {% for image_path in image_paths %}
                    {% load  static %}<img class="lazy" data-original="{% static image_path %}" width="1000">
                {% endfor %}
            </div>
            <script src="http://webmap2.map.bdimg.com/yyfm/jQuery_1.x/1.10.2/js/jQuery_1.x.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.js"></script>
            <script type="text/javascript" charset="utf-8">
            $(function() {
                $("img.lazy").lazyload({
                    effect : "fadeIn"
                });
            });
            </script>
        </center>
    </body>
</html>
<!-- more html -->